@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-UltraLight.eot');
    src: url('/fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('fonts/Gilroy-UltraLight.woff') format('woff'),
        url('fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Light.eot');
    src: url('fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Light.woff2') format('woff2'),
        url('fonts/Gilroy-Light.woff') format('woff'),
        url('fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.eot');
    src: url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Regular.woff2') format('woff2'),
        url('fonts/Gilroy-Regular.woff') format('woff'),
        url('fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.eot');
    src: url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-ExtraBold.eot');
    src: url('fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after  {
	box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Gilroy';
}

h1, h2 {
    font-size: calc(29px + 41 * (100vw / 1920));
    font-weight: 700;
}

ul, li, ol {
	display: block;
    font-weight: 200;
    font-size: 20px;
}

p {
	display: block;
    font-weight: 200;
    font-size: 20px;
}

a {
    font-size: 20px;
    font-weight: 400;
	text-decoration: none;
}

img {
    vertical-align: top;
}

#s2 {
    object-position: top;
}

.section {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 90vw;
    height: 100%;
    margin: 0 auto;
}

.heading-span {
    font-weight: 200;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
}

button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
    border-radius: 100px;
    border: 2px solid;
    border-color: #FFFFFF26;
    cursor: pointer;
}

/* Swiper */

.wrapper {
    min-height: 100%;
}

.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.section__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.screen {
    flex: 1 0 100%;
    position: relative;
}

.screen__content {
    position: relative;
    z-index: 2 ;
    height: 100%;
    margin-top: 40px;
}

.section__pagination {
    position: absolute;
    top: 50%;
    right: 50px !important;
    transform: translate(0px, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__bullet {
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: linear-gradient(107.15deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(50px);
    margin: 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}

.section__bullet_active {
    background: linear-gradient(107.15deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(50px);
    width: 15px;
    height: 15px;
}

.screen__body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.screen__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.screen__img img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.screen__blur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.screen__color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.content-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

/* Offer-mobile */

.offer-mobile {
    display: none;
}

.offer-heading_mobile {
    margin-bottom: 13px;
}

.swiper {
    width: calc(100vw - 32px);
    height: auto;
  }

.scrollbar {
    width: 95%;
    height: 2px;
    margin-top: 13px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.scrollbar-drag {
    width: 339.5px;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.offer-description_mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.offer-description_mobile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.offer-description_mobile__item:not(:last-child) {
    margin-bottom: 13px;
}


/* Nav */

.header {
    position: fixed;
    top: 47px;
    left: 0;
    z-index: 2;
    width: 100%;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: baseline;
}

.nav-menu__item {
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.3s ease-in;
}

.nav-menu__item:hover {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s ease-out;
}

.nav-menu__item:not(:last-child) {
    margin-right: 33px;
}

.nav-menu__item.active {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s ease-in;
}

.nav-media {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 43px;
}

.nav-media a {
    margin-left: 33px;
    display: flex;
    opacity: 30%;
    transition: all 0.3s ease-in;
}

.nav-media a:hover {
    opacity: 60%;
    transition: all 0.3s ease-out;
}

.nav-media::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

/* Offer */

.offer-heading {
    position: relative;
    top: 0;
    left: -18px;
    display: flex;
    margin-bottom: 19px;
}

.offer-title__span_name {
    font-weight: 800;
    font-size: 87px;
}

.offer-title__span_busines {
    writing-mode: vertical-rl;
    font-weight: 200;
    font-size: 70px;
    padding-top: 0.8%;
    color: rgba(255, 255, 255, 0.5);
}

.offer-description {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.offer-description::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.offer-description__item:not(:last-child) {
    margin-bottom: 12px;
}

.offer-mobile {
    display: none;
}

/* About */



/* My Project */



/* Learning */



/* Bonuses */



/* Program */



/* Contact */



/* Custom Cursor */


/* Animation */

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

/* Adaptive */

@media (max-width: 767px) {
    h1, h2 {
        font-size: calc(29px + (41 + 41 * 0.7) * ((100vw - 320px) / 1920));
    }

    ul, li, ol {
        font-size: calc(15px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
    }
    
    p {
        font-size: calc(15px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
    }
    
    a {
        font-size: calc(15px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
    }

    .heading-span {
        font-size: calc(21px + (50 + 50 * 0.7) * ((100vw - 320px) / 1920));
    }

    .nav-menu__item {
        font-size: calc(15px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
    }

    .offer-title__span_name {
        font-size: calc(36px + (87 + 87 * 0.7) * ((100vw - 320px) / 1920));
    }

    .container {
        width: 92vw;
    }

    .section__pagination {
        top: 95% !important;
        left: 3%;
        flex-direction: unset !important;
    }

    .offer {
        display: none;
    }

    .offer-mobile {
        display: block;
    }

    .offer-title_mobile {
        display: flex;
        flex-direction: column;
    }
}